:root {
  --auto-grid-min-size: 30rem;
}

body {
  background: #F6F6F6;
  color: #666;
  line-height: 1.6;
}

#root {
  max-width: 90vw;
  margin: 0 auto;
}

a {
  color:#333;
	text-decoration: none;
	transition-property:all .2s linear 0s;
}

a:hover {
  color: #34B484;
}

img {
  display: block;
  margin: 10px auto;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  gap: 1rem;
}

.card {
  background: #fff;
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
  transition: all .2s linear;
}

.card:hover {
  transform: scale(1.1);
  margin: 1rem;
}

.card h1 {
  text-align: center;
}

